.intro__logo {
  animation: rotation 10s infinite linear;
}

.img--lg {
  width: 45vw;
}

.img--md {
  width: 30vw;
}

.img--sm {
  width: 30vw;
}

div.spectacle-content {
  max-height: 90vh;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}