.intro__logo {
  animation: rotation 10s infinite linear;
}

.img--lg {
  width: 45vw;
}

.img--md {
  width: 30vw;
}

.img--sm {
  width: 30vw;
}

div.spectacle-content {
  max-height: 90vh;
}

.full-width {
  width: 100vw;
  margin-left: -20vw;
}

.two-col {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  align-items: center;
}

.two-col img {
  width: 100%;
  display: block;
}

.two-col div:first-child {
  grid-column: 2 / 5;
  align-self: stretch;
}

.two-col div:last-child {
  grid-column: 6 / 9;
  align-self: stretch;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}